@model IEnumerable<mvcshopping.Models.Tables.Products>

@{
    @* ViewData["Title"] = "商品清單"; *@
    Layout = "_Layout";
    int count = 0;
}

<h2 class="mb-4">所有商品</h2>

<div class="container">
    @foreach (var item in Model)
    {
        if (count % 4 == 0)
        {
            @:<div class="row">
        }

        <div class="col-3">
            <div class="product-container border h-100">
                <p class="mb-1">@item.ProductName</p>
                <p class="mb-0 text-truncate" title="@item.Description">@item.Description</p>
                <p class="text-danger fw-bold mb-0">NT$ @item.Price.ToString("N0")</p>
                <p class="mb-0">庫存: @item.StockQuantity</p>
                <p class="mb-0">分類: @item.CategoryId</p>
            </div>
        </div>

        count++;

        if (count % 4 == 0)
        {
            @:</div>
        }
    }

    @if (count % 4 != 0)
    {
        @:</div>

    }
</div>
